.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73,79,82);
  color: white;
}
.nav-links{
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}
@import '~antd/dist/antd.css';
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #001529 !important;
}
.ant-menu-dark.ant-menu-submenu-popup{
  top: 44px !important;
}